.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: fixed;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .cls-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}